<div class="item-widget">
    <input class="widget-input" ng-model="item.text" ng-keyup="$event.keyCode == 13 ? addItem() : null">
    <button class="widget-button" ng-click="dropdown = !dropdown">Button</button>
    <div class="dropdown-area" ng-show="dropdown">
        <div class="dropdown">
            <ul>
                <li ng-repeat="item in items" ng-click="itemClick(item.id)" data-id="@{{ item.id }}">@{{item.item_text}}</li>
            </ul>
        </div>
    </div>
    <div class="item-info" >
        <div>@{{ data.id }}</div>
        <div>@{{ data.item_text }}</div>
    </div>
</div>